//default google font
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* this shows up in the code */
$bgcolor: rgba(112, 48, 48, 1);
$boxcolor: rgba(255,255,255,1);
$basefont: 'Open Sans', sans-serif;